/* --------------- 編集ポップアップ ---------------- */
.popup_edit { 
  /* display: none; */
  visibility:hidden;
  opacity: 0;
  background-color: aquamarine;
  width: 340px;
  height: 310px;
  border-radius: 10px;
  position: absolute;
  top:100px;
  left: 40px;
  z-index: 2000;
  transition-duration: 200ms;
  transition-property: opacity;
}
.popup_size_fit { width: 220px; }
.button-small { width: 80; height: 30; font-size: 130%; }
.popup_edit_note_button {height: 50px;}
.popup_group_list { height: 35px; }

/* 暗幕 */
.popup_bg_cover{
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, .3); /* 半透明の黒色 */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* 要素をコンテンツより前面に（要調整） */
}