/* --------------- 編集ポップアップ ---------------- */

/* ポップアップベース要素 */
.popup_edit { 
  /* display: none; */
  visibility:hidden;
  opacity: 0;
  background-color: aquamarine;
  border-radius: 10px;
  position: absolute;
  top:100px;
  left: 40px;
  z-index: 2000;
  transition-duration: 200ms;
  transition-property: opacity;
  padding: 4px;
}

/* 入力要素 */
.popup_input_base { width: 100%; }

/* メモ追加ボタン */
.popup_edit_note_button {height: 50px;}

/* グループ選択 */
.popup_group_list { height: 35px; }

/* 数値入力 */
.popup_number { width: 5em; }

/* 期限+-ボタン */
.popup_change_period_button {
  width: 4em;
  height: 2.2em;
  margin: 2px;
}

/* OK/Cancelボタン */
.popup_ok_cancel_button {
  width: 7em;
  height: 3em;
  margin: 2px;
}

/* 暗幕 */
.popup_bg_cover{
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, .3); /* 半透明の黒色 */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* 要素をコンテンツより前面に（要調整） */
}