/* --------------- グループ一覧ポップアップ ---------------- */

/* ベースdiv */
.popup_group_list_div {
  visibility: hidden;
  opacity: 0;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  max-height: 70%;
  background-color: rgb(211, 244, 220);
  border: 1px solid rgb(147, 147, 147);
  border-radius: 10px;
  transition-duration: 200ms;
  transition-property: opacity;
  z-index: 5000;
  display: flex;          /* Flexboxを有効にし、配置の方向を「上から下」に設定 */
  flex-direction: column; /* 下端に達した要素を「右隣（次の列）」に折り返す */
  flex-wrap: wrap;
  overflow-x: auto;       /* 全体の幅を超えてさらに右へはみ出る場合、横スクロールさせる */
}
/* グループ名div */
.popup_group_list_item {
  width: 20em;
  height: 3em;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #afaeae;
  border-radius: 10px;
  background-color: white;
  text-align: left;
}
.popup_group_list_item_bk_white {
  background-color: white;
}
.popup_group_list_item_bk_red {
  background-color: #FFDDFF;
}
.popup_group_list_item_bk_blue {
  background-color: #D9E5FF;
}
/* グループ名div ホバー時 */
.popup_group_list_item:hover {
  background-color: rgb(196, 196, 196);
}
