/* CSS for Env */

body { 
    font-size: 50%;
}

/* Select */
/* select.task_list {
    width: 37vw;
    height: 700px;
} */
select.h-half {
    width: 20vw;
    height: 300px;
}

.group_top { 
    font-size: 120%; 
}



